a {
    text-decoration: none;
    color: black;
    transition: color .3s;
}

a:hover {
    color: #0000007e;
}

.origin {
    font-size: 12px;
    font-weight: 900;
    display: flex;
    border-top: black solid;
    border-left: black solid;
}

.parent div {
    text-align: center;
    border-bottom: black solid;
    border-right: black solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.parent div>* {
    margin-top: 0;
    margin-bottom: 0;
}

.out {
    padding-left: 10px;
    font-size: 15px;
}

.out p {
    cursor: pointer;
}

.button {
    margin-top: 10px;
    user-select: none;
}

.button p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: black solid;

    color: black;
    transition: color .3s;
}

.button p:hover {
    color: #0000007e;
}

.sub {
    display: flex;
}

.info {
    display: flex;
}

.index {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dis {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.svg-fe {
    animation: svg 5s ease-in both;
    fill: #00a074;
    stroke: #007059;
}

@keyframes svg {
    0% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
    }

    80% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
}

.header {
    display: flex;
}