input[type='file'] {
    color: rgb(31, 41, 55);
    cursor: pointer;
    border: 1px solid rgb(191, 194, 199);
    padding-right: 0.5rem;
    width: 24rem;
}

::file-selector-button,
::-webkit-file-upload-button {
    background-color: rgb(209, 213, 219);
    color: rgb(31, 41, 55);
    border: none;
    cursor: pointer;
    border-right: 1px solid rgb(191, 194, 199);
    padding: 0.25rem 1rem;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: black;
    transition: color .3s;
}

a:hover {
    color: #0000007e;
}

.origin {
    font-size: 12px;
    font-weight: 900;
    display: flex;
}

.parent div {
    text-align: center;
    border-bottom: black solid;
    border-right: black solid;
    padding: 3px 10px;
}

.parent div>* {
    margin-top: 0;
    margin-bottom: 0;
}

.check div {
    padding: 3px 7px;
    width: 22px;
    height: 18px;
    border-bottom: black solid;
    border-right: black solid;
    text-align: center;
    cursor: pointer;
}

.check div div {
    display: none;
    content: '';
    width: 4px;
    height: 2px;
    border-left: 2px solid #25AF01;
    border-bottom: 2px solid #25AF01;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
}

.out {
    padding-left: 10px;
    font-size: 15px;
}

.out p {
    cursor: pointer;
}

.button {
    margin-top: 10px;
    user-select: none;
}

.button p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: black solid;

    color: black;
    transition: color .3s;
}

.button p:hover {
    color: #0000007e;
}

.sub {
    display: flex;
}

.info {
    display: flex;
}

.index {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dis {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.svg-fe {
    animation: svg 5s ease-in both;
}

@keyframes svg {
    0% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
    }

    80% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
}

.header {
    display: flex;
}